

.screen {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: auto;
  height: 85px;
  border: 2px solid black;
  color: #ffffff;
  background-color: #000000;
  font-family: monospace;
  font-size: 35px;
}

.pad {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  align-content: space-evenly;
  
}

#zero {
  width: 300px;
}

#clear {
  width: 200px;
}

button {
  width: 100px;
  font-size: large;
  border: 1px solid black;
}

.num {
  background-color: #d8d9db;
}

.func {
  background-color: #df974c;
}

.num:hover {
  background-color: #ebebeb;
}

.func:hover {
  background-color: #dfb07e;
}

.num:active {
  background-color: #bbbcbe;
}

.func:active {
  background-color: #dd8d37;
}

.calc {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}
